body {
    background-color: #1b1b1d;
}
.google-btn {
    border: none;
    background-color: #303134;
    color: #e8eaed;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #303134;

}
.google-btn:hover {
    /* background-color: #ff0000; */
    border: 1px solid #9b9c9e;
}
